.login-1 .image-11 {
  border-radius: 100px;
  background: url('../assets/images/image_1.png') 50% / cover no-repeat;
  margin-right: 28px;
  width: 84px;
  height: 83px;
}
.login-1 .motorkita-1 {
  margin: 18px 0 17px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 32px;
  color: #5196C4;
}
.login-1 .group-81 {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.login-1 .search {
  margin: 14.2px 9.5px 16px 0;
  display: inline-block;
  width: 289.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #CBC7DE;
}
.login-1 .group-3 {
  width: 25.2px;
  height: 26.6px;
}
.login-1 .group-5 {
  border-radius: 0 25px 25px 0;
  border: 0.2px solid #000000;
  background: #F2F3F9;
  position: relative;
  display: flex;
  padding: 11.3px 0;
  width: 73.9px;
  height: 49.2px;
  box-sizing: border-box;
}
.login-1 .group-2 {
  border-radius: 25px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 24px 0 9.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0px 16.7px;
  width: 389.3px;
  height: fit-content;
  box-sizing: border-box;
}
.login-1 .group-6 {
  margin: 23.8px 0 19px 0;
  width: 40.2px;
  height: 40.2px;
}
.login-1 .nav {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  background: #FBFAFF;
  position: relative;
  margin-bottom: 1028.1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 32.2px 11.8px 19px;
  width: 1440px;
  box-sizing: border-box;
}
.login-1 .line-6 {
  background: #BFBFBF;
  margin-bottom: 35.5px;
  width: 1427.5px;
  height: 1px;
}
.login-1 .image-1 {
  border-radius: 100px;
  background: url('../assets/images/image_1.png') 50% / cover no-repeat;
  margin-right: 28px;
  width: 84px;
  height: 83px;
}
.login-1 .motorkita {
  margin: 18px 0 17px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 32px;
  color: #5196C4;
}
.login-1 .group-8 {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.login-1 .service {
  margin: 0 5.7px 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 22px;
  text-transform: capitalize;
  color: #000000;
}
.login-1 .dmodel {
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  color: #434343;
}
.login-1 .container-5 {
  margin: 3.3px 0 12.7px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.login-1 .support {
  margin-bottom: 20px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 22px;
  text-transform: capitalize;
  color: #000000;
}
.login-1 .about-supply-3-darsitek-com {
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  color: #434343;
}
.login-1 .container {
  margin: 3.6px 0 8.4px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.login-1 .follow-us-on {
  margin-bottom: 25.7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 22px;
  text-transform: capitalize;
  color: #000000;
}
.login-1 .instagram {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  color: #434343;
}
.login-1 .container-7 {
  margin: 3.3px 0 3px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.login-1 .container-8 {
  margin: 0 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1181.8px;
  box-sizing: border-box;
}
.login-1 .contact-us {
  margin: 0.1px 11.5px 0 0;
  display: inline-block;
  width: 224.7px;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  color: #434343;
}
.login-1 .privacy-policy-terms {
  margin: 0px 0 0.1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  color: #434343;
}
.login-1 .facebook {
  margin-bottom: 0.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  color: #434343;
}
.login-1 .container-2 {
  margin-left: 283.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 647px;
  box-sizing: border-box;
}
.login-1 .footer {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 56.6px 12.5px 121.2px 0;
  width: 1440px;
  box-sizing: border-box;
}
.login-1 .container-9 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.login-1 .zero-take-wv-hrr-r-1-c-5-po-unsplash-1 {
  background: url('../assets/images/zero_take_wv_hrr_r_1_c_5_po_unsplash_1.png') 50% / cover no-repeat;
  width: 1440px;
  height: 847.9px;
}
.login-1 .butuh-konsultasi-silahkan-kontak-kami-kami-siap-membantu {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 38.8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
}
.login-1 .kontak {
  margin-bottom: 9.8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
}
.login-1 .vector-6 {
  width: 36.2px;
  height: 39.5px;
}
.login-1 .mdioffice-building-marker-outline {
  margin: 2.2px 8.8px 0 0;
  display: flex;
  width: 36.2px;
  height: 39.5px;
  box-sizing: border-box;
}
.login-1 .jl-bundar {
  margin-bottom: 5.7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}
.login-1 .container-10 {
  margin: 0 20.9px 13.1px 20.9px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.login-1 .group {
  width: 51.8px;
  height: 42.7px;
}
.login-1 .bytesizetelephone {
  margin: 3.5px 6px 0 0;
  display: flex;
  width: 51.8px;
  height: 42.7px;
  box-sizing: border-box;
}
.login-1 .container {
  margin-bottom: 10.2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}
.login-1 .container-4 {
  margin: 0 12.1px 5.3px 12.1px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.login-1 .vector-2 {
  width: 38.9px;
  height: 30.4px;
}
.login-1 .mdigmail {
  margin: 9.7px 6.9px 0 0;
  display: flex;
  width: 38.9px;
  height: 30.4px;
  box-sizing: border-box;
}
.login-1 .motorkitagmail-com {
  margin-bottom: 4.2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}
.login-1 .container-1 {
  margin: 0 18px 12.2px 18px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.login-1 .social-media {
  margin-bottom: 1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
}
.login-1 .vector-4 {
  width: 46.7px;
  height: 45.7px;
}
.login-1 .icoutline-facebook {
  margin: 0 4.9px 0px 0;
  display: flex;
  width: 46.7px;
  height: 45.7px;
  box-sizing: border-box;
}
.login-1 .vector-5 {
  margin: 0px 5.8px 0 0;
  width: 46.7px;
  height: 45.7px;
}
.login-1 .vector-3 {
  width: 39.4px;
  height: 34.2px;
}
.login-1 .phtwitter-logo {
  margin: 8.9px 1.5px 2.5px 0;
  display: flex;
  width: 39.4px;
  height: 34.2px;
  box-sizing: border-box;
}
.login-1 .motorkitagmail-com-1 {
  margin: 9.2px 0 0.4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}
.login-1 .container-3 {
  margin: 0 5.2px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.login-1 .container-11 {
  position: relative;
  margin: 0 73.1px 29.3px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 575.7px;
  box-sizing: border-box;
}
.login-1 .ada-pertanyaan {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 21.3px 16.7px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 36px;
  color: #5196C4;
}
.login-1 .masukkan-email-anda-disini {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}
.login-1 .group-4 {
  background: rgba(0, 0, 0, 0.41);
  position: relative;
  margin-bottom: 29.3px;
  display: flex;
  padding: 20.9px 21.8px 22.8px 0;
  width: 515px;
  box-sizing: border-box;
}
.login-1 .pertanyaan-anda {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}
.login-1 .group-51 {
  background: rgba(0, 0, 0, 0.41);
  position: relative;
  margin-bottom: 34px;
  display: flex;
  align-self: flex-start;
  padding: 20.9px 106.1px 18.1px 0;
  width: 485px;
  box-sizing: border-box;
}
.login-1 .kirim {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 30px;
  color: #FFFFFF;
}
.login-1 .group-61 {
  background: #E42C14;
  position: relative;
  display: flex;
  padding: 15.6px 0 17.4px 0;
  width: 515px;
  box-sizing: border-box;
}
.login-1 .group-7 {
  border-radius: 30px;
  background: #FFFFFF;
  position: relative;
  margin-top: 116.6px;
  display: flex;
  flex-direction: column;
  padding: 55.7px 57.3px 50.2px 43.5px;
  height: fit-content;
  flex-grow: 1;
  flex-basis: 615.9px;
  box-sizing: border-box;
}
.login-1 .log-in {
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 162px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 60.9px 81.8px 0 93.5px;
  height: 1024px;
  box-sizing: border-box;
}
.login {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
